<div class = "app-container">
 <div class = "main-container">
    <div class = "image-container">
      <img src = "/images/emojis/angry.svg">
    </div>
    <div class = "content-container">
      <h3>{{message}}</h3>
    </div>
  </div>
</div>
