<div class = "app-container">
 <div class = "main-container">
    <div class = "image-container">
      <img src = "/images/emojis/curious.svg">
    </div>
    <div class = "content-container">
      <h3> <strong> You must login first !</strong> </h3>
    </div>
  </div>
</div>
